@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600&family=Manrope&display=swap');

:root {
  // HEADING
  --fraunces-font-family: 'Fraunces', serif;
  --fraunces-font-weight: 600; //SEMI BOLD
  --fraunces-font-style: normal;
  // BODY
  --manrope-font-family: 'Manrope',serif;
  --manrope-font-weight: normal;
  --manrope-font-style: normal;
  --manrope-font-size: 18px;
  --manrope-line-hieght: 32px;
}




