h1{
    font-family:var(--fraunces-font-family);
    font-weight: var(--fraunces-font-weight);
    font-size: 80px;
    line-height: 83px;
    color: var(--Dark-Purple);
}

h2{
    font-family:var(--fraunces-font-family);
    font-weight: var(--fraunces-font-weight);
    font-size: 56px;
    line-height: 64px;    
    color: var(--Dark-Purple);
}
h3{
    font-family:var(--fraunces-font-family);
    font-weight: var(--fraunces-font-weight);
    font-size: 32px;
    line-height: 40px;    
    color: var(--Dark-Purple);
}

P{
    font-family: var(--manrope-font-family);
    font-weight: var(--manrope-font-weight);
    font-size: 18px;
    line-height: 32px; 
    color: var(--Dark-Purple);    
}